# nginx
NGINX_PORT=8080
#CLIENT_MAX_BODY_SIZE=128M

# db
MYSQL_DATABASE=moodle
MYSQL_USER=moodle
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# php-fpm
MOODLE_DB_TYPE=mariadb
MOODLE_DB_HOST=db
MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodle
MOODLE_DB_PASS=
MOODLE_URL=http://localhost:8080
MOODLE_DATAROOT=/var/local/moodledata
MOODLE_DIRECTORYPERMISSIONS=0754
MOODLE_SSLPROXY=false
MOODLE_REVERSEPROXY=false
