# OS files
.DS_Store
Thumbs.db

# Node / IDE / editor files
*.swp
*.swo
*.idea/
*.vscode/

# Environment files
.env
.env.*

# Docker files
docker-compose.override.yml
*.log
*.pid

# Docker volumes (local persistent data)
volumes/
!volumes/moodle/config.php

# PHP / Composer
vendor/
composer.lock
