# OS files
.DS_Store
Thumbs.db

# Node / IDE / editor files
*.swp
*.swo
*.idea/
*.vscode/

# Environment files
.env
.env.*

# Docker files
docker-compose.override.yml
*.log
*.pid

# Docker volumes (local persistent data)
volumes/**/moodledata/
volumes/**/moodle/tmp/
volumes/**/moodle/cache/
volumes/**/moodle/*.lock

# PHP / Composer
vendor/
composer.lock

# Moodle backups / temp files
volumes/moodle/*.tgz
volumes/moodle/*.zip
volumes/moodledata/*.log

