# db
MYSQL_DATABASE=moodle
MYSQL_USER=moodle
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# php-fpm
MOODLE_DB_TYPE=${MOODLE_DB_TYPE}
MOODLE_DB_HOST=${MOODLE_DB_HOST}
MOODLE_DB_NAME=${MYSQL_USER}
MOODLE_DB_USER=${MYSQL_USER}
MOODLE_DB_PASS=${MYSQL_PASSWORD}
MOODLE_URL=${MOODLE_URL}
MOODLE_DATAROOT=${MOODLE_DATAROOT}

