server {
	listen ${NGINX_PORT};
	server_name _;
	root /var/www/html;
	index index.php;

	client_max_body_size ${CLIENT_MAX_BODY_SIZE};

	# MAIN ROUTER
	location / {
		try_files $uri $uri/ /index.php?$query_string;
	}

	location ~ \.php(/|$) {
      	# Split the path info based on URI.
      	fastcgi_split_path_info ^(.+\.php)(/.*)$;

	# Note: Store the original path_info. It will be wiped out in a moment by try_files.
	set $path_info $fastcgi_path_info;

	# Look for the php file. If not round then jump to @routed.
	try_files $fastcgi_script_name $fastcgi_script_name/;

	# File was found - pass to fastcgi.
	fastcgi_pass   php-fpm:9000;
	include        fastcgi_params;
	
	# Re-apply the path_info after including fastcgi_params.
	fastcgi_param PATH_INFO $path_info;
	fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
	fastcgi_param DOCUMENT_ROOT $realpath_root;
	}
}
